@font-face { font-family: opendyslexic-bold; src: url('font/OpenDyslexic-Bold.otf'); }
@font-face { font-family: opendyslexic-reg; src: url('font/OpenDyslexic-Regular.otf'); }
@font-face { font-family: opendyslexic-ita; src: url('font/OpenDyslexic-Italic.otf'); }
@font-face { font-family: opendyslexic-boldita; src: url('font/OpenDyslexic-BoldItalic.otf'); }

		body {
			_font-family: Arial, sans-serif;
			font-family: opendyslexic-reg;
            margin: 0 50px;
			top: 0;
            padding: 20px;
            text-align: left;
			overflow-y: scroll;
        }
		
        h1 {
            font-size: 23px;
			color: #555;
        }
		
		h3 {
			font-size: 17px;
			color: #555;
		}
        
        p, ol, li{
            font-size: 18px;
            color: #555;
			padding-top: 20px;
        }
		
		ol ::marker {
			color: red;
			font-weight: bold;
		}
		
		.ol2{
			padding-left: 40px;
		}
		
		.ol2 li{
			padding-top: 5px;
		}
		
		img {
			width: 100%;
		}
		
		a {
			text-decoration: underline lightgrey dotted;
			text-underline-offset: 3px;
			color: inherit;
		}
		
		.grey {
			color: grey;
		}
		
		.c1, .c2 {
			padding: 0 3px 0 3px;
			border-radius: 3px;
			text-decoration: none;
			pointer-events: none;
		}
		
		.c1{
			color: white;
			background-color: black;
		}
			
		.c2{
			color: black;
			background-color: yellow;
		}

		nav {
			border: 2px solid #ccc;
			padding: 10px;
			border-radius: 10px;
			margin-bottom: 20px;
			background-color: #f9f9f9;
		}

		nav ol {
			display: flex;
			flex-wrap: wrap; /* Allows wrapping to a new line if space is limited */
			list-style: none;
			padding-left: 0;
			margin: 0;
			justify-content: space-around; /* Space evenly between items */
		}

		nav ol li {
			margin-right: 15px; /* Space between list items */
			font-size: 18px;
		}

		nav ol li a {
			color: #555;
		}

		.stt {
			position: fixed;
			bottom: 20px;
			right: 10px;
			z-index: 9;
			width: 15px;
			height: 18px;
			font-size: 0.8rem;
			text-align: center;
			background-color: #f9f9f9;
			color: grey;
			text-decoration: none;
			border-bottom-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		.stt:active {
			color: white;
			background-color: black;
		}
		
		#logo {
			display: flex;
			justify-content: center;
		}

		.title {
			position: sticky;
			top: 0;
			background-color: white;
			border-bottom: 2px outset #555;
			line-height: 1.3;
			padding-left: 5px;
			margin-top: 0;
		}
		
		.target {
			scroll-margin-top: 20px;
		}
		
		.left {
			border-left: 1px solid #ccc;
		}
		
		.bottom {
			border-bottom: 1px solid #ccc;
		}

        @media (max-width: 500px) {
            body {
                margin: 0 10px;
            }
			
			p, ol, li{
				font-size: 13px;
			}
			
			h1 {
				font-size: 17px;
			}
		
			h3 {
				font-size: 15px;
			}
			
			ol{
				padding: 15px;
			}
			
			nav ol {
				flex-direction: column; /* Stack vertically on small screens */
				line-height: 0.2;
			}

			nav ol li {
				margin: 5px;
				font-size: 13px;
				text-align: center;
			}
        }